* {
      margin: 0;
      padding: 0;
    }
    
    #TodoContainer {
      background: #b8dff2;
      width: 500px;
      font-family: Verdana, Geneva, sans-serif;
      padding: 15px 20px;
      border-radius: 8px;
      margin: 20px auto;
    }
    
    #TodoContainer h1 {
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 1px dashed #589dbf;
    }
    
    #TodoContainer ul {
      margin-top: 20px;
      margin-left: 20px;
    }
    
    #TodoContainer ul li {
      margin: 10px 0;
    }
    
    #TodoContainer .TodoItem span:not(:first-child) {
      float: right;
      padding: 3px 8px;
      border-radius: 5px;
      font-size: 13px;
      cursor: pointer;
    }
    
    #TodoContainer .TodoItem span:not(:first-child):hover {
      background: #f2ecda;
    }
    
    #TodoContainer .TodoItem span.rem {
      background: #f0cac7;
    }
    
    #TodoContainer .TodoItem span.fin {
      background: #b4f5a2;
      margin-right: 5px;
    }
    
    #TodoContainer .TodoItem span.line {
      text-decoration: line-through;
      color: #79a1b5;
    }
    
    #TodoContainer .TodoInput {
      margin-top: 20px;
      background: #cbe7f5;
      padding: 10px;
    }
    
    #TodoContainer .TodoInput input {
      padding: 4px 10px;
      margin-right: 5px;
    }
    
    #TodoContainer .TodoInput input:first-child {
      width: 230px;
    }